.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.mybutton2 {
  position: fixed;
  top: 80%;
  left: 20%;
}
.mybutton3 {
  position: fixed;
  top: 10%;
  left: 90%;
}

.mybutton4 {
  position: fixed;
  top: 60%;
  left: 20%;
}

.mybuttonDisclaimer {
  position: fixed;
  transform: translate(300%, 0%);
  background: rgb(255, 255, 255);
  text-decoration: underline;
  border: 0px solid transparent;
  font-size: small;
}

.myphoto {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  height: 500px;
}

.mynobutton {
  border: 1px solid #888;
  background: #fff;
  overflow: auto;
  border-radius: 2px;
  outline: none;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.mysubmit {
  position: fixed;
  transform: translate(0%, -50%);
  border: 1px solid #888;
  background: #fff;
  overflow: auto;
  border-radius: 2px;
  outline: none;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.e-dialog .e-dlg-content {
  color: red;
  font-size: 10px;
  font-weight: normal;
  line-height: normal;
}

.mytextfield {
  border: 1px solid #888;
  background: #fff;
  overflow: auto;
  border-radius: 2px;
  outline: none;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mytablerows {
  border: 1px #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}